In [32]:
import yfinance as yf
import pandas as pd
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
import keras
from keras.layers import Embedding, LSTM, Dense, Embedding
from keras.models import Sequential

In [31]:
physical_devices = tf.config.list_physical_devices('GPU')
gpu = physical_devices[0]
gpu

PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

In [13]:
companies = ["tsla", "nvda", "msft", "nflx"]
dataframes = [yf.Ticker(c).history("max") for c in companies]
data = pd.concat(dataframes)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25202 entries, 2010-06-29 00:00:00-04:00 to 2024-07-23 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          25202 non-null  float64
 1   High          25202 non-null  float64
 2   Low           25202 non-null  float64
 3   Close         25202 non-null  float64
 4   Volume        25202 non-null  int64
 5   Dividends     25202 non-null  float64
 6   Stock Splits  25202 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 1.5 MB

In [20]:
data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,25202.000000,25202.000000,25202.000000,25202.000000,2.520200e+04,25202.000000,25202.000000
mean,64.222458,65.167857,63.241563,64.233294,1.932054e+08,0.001151,0.002202
std,121.264809,122.965376,119.478562,121.262675,3.285898e+08,0.028857,0.099526
min,0.032008,0.032605,0.030574,0.031291,2.856000e+05,0.000000,0.000000
25%,1.450776,1.478595,1.420858,1.452822,2.336392e+07,0.000000,0.000000
50%,14.987961,15.261017,14.705245,14.980826,5.895720e+07,0.000000,0.000000
75%,42.305416,42.926289,41.688933,42.292599,2.097740e+08,0.000000,0.000000
max,692.349976,700.989990,686.090027,691.690002,9.230856e+09,3.080000,10.000000

# Preprocessing

In [28]:
scaler = StandardScaler()
data[["Open", "High", "Low", "Close", "Volume", "Dividends", "Stock Splits"]] = scaler.fit_transform(
    data[["Open", "High", "Low", "Close", "Volume", "Dividends", "Stock Splits"]]
)

In [29]:
data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2.520200e+04,2.520200e+04,2.520200e+04,2.520200e+04,2.520200e+04,2.520200e+04,2.520200e+04
mean,-1.804410e-17,6.315434e-17,-9.022049e-18,2.706615e-17,-4.511024e-18,1.141853e-17,5.004418e-18
std,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00
min,-5.293516e-01,-5.297145e-01,-5.290677e-01,-5.294562e-01,-5.871261e-01,-3.988152e-02,-2.212733e-02
25%,-5.176516e-01,-5.179550e-01,-5.174312e-01,-5.177332e-01,-5.168903e-01,-3.988152e-02,-2.212733e-02
50%,-4.060162e-01,-4.058690e-01,-4.062426e-01,-4.061715e-01,-4.085668e-01,-3.988152e-02,-2.212733e-02
75%,-1.807406e-01,-1.808803e-01,-1.803927e-01,-1.809389e-01,5.042422e-02,-3.988152e-02,-2.212733e-02
max,5.179903e+00,5.170844e+00,5.213160e+00,5.174462e+00,2.750490e+01,1.066946e+02,1.004559e+02

# Model

In [ ]:
max_feature = 10_000
maxlen = 500
batch_size = 32

In [ ]:
model = Sequential()
model.add(Embedding(max_feature, 32))
model.add(LSTM(32))
model.add(Dense())